<%
# Saltstorm - 'Fun-Money' Betting on the Web
# Copyright (C) 2013  Dustin Leavins
#
# Full license can be found in 'LICENSE.txt'
%>
<div class='container'>
  <div class='page-header'>
    <h1><%= @site_name %></h1>
    <p><%= @site_description %></p>
  </div>

  <p><a class='btn btn-default' href='/login'>Login</a></p>
  <p><a class='btn btn-default' href='/signup'>Register</a></p>
  <footer>
    <p>This site is powered by Sandstorm &copy; 2013 Dustin Leavins</p>
    <p>Site might use <a href='http://glyphicons.com/'>Glyphicons</a></p>
  </footer>
</div>
