<%
# Saltstorm - Fun-Money Betting on the Web
# Copyright (C) 2013  Dustin Leavins
#
# Full license can be found in 'LICENSE.txt'
%>

<!DOCTYPE html>
<html lang='en' ng-app>
  <head>
    <meta charset="utf-8">
    <title><%= titleize() %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src='/js/app.js'></script>
  </head>
  <body>
    <div class='container'>
      <%= yield %>
      <footer>
        <div class='row'>
          <div class='col-xs-6'>
            <p>Powered by Saltstorm &copy; 2013 Dustin Leavins</p>
            <p>Site might use <a href='http://glyphicons.com/'>Glyphicons</a></p>
          </div>
          <div class='col-xs-6 text-right'>
            <p><a href='https://github.com/dustinleavins/saltstorm'>Source Code for Saltstorm</a></p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
