<%
# Saltstorm - Fun-Money Betting on the Web
# Copyright (C) 2013  Dustin Leavins
#
# Full license can be found in 'LICENSE.txt'
%>
<div class='page-header'>
  <h1><%= titleize('Login') %></h1>
  <p><%= @site_description %></p>
</div>
<% if (flash[:error]) %>
<div class='row col-md-12'>
  <div class='alert alert-danger'>Incorrect e-mail or password</div>
</div>
<% end %>

<form action='/login' method='post' name='loginForm'>
  <div class='form-group' ng-class='{"has-error": loginForm.email.$invalid}'>
    <p>
      <label for='email'>E-Mail Address</label>
      <input type='text' name='email' class='form-control'  autocapitalize='off'
             required
             ng-model='email' />
    </p>
  </div>

  <div class='form-group' ng-class='{"has-error": loginForm.password.$invalid}'>
    <p>
      <label for='password' >Password</label>
      <input type='password' name='password' autocapitalize='off' class='form-control'
             required
             ng-model='password' />
    </p>
  </div>
  <p>
    <button type="submit" class="btn btn-default">Login</button>
  </p>
</form>
