<%
# Saltstorm - Fun-Money Betting on the Web
# Copyright (C) 2013  Dustin Leavins
#
# Full license can be found in 'LICENSE.txt'
%>
<div ng-controller='FakeBetController' class='main-content'>
  <nav class='navbar navbar-default navbar-static-top' role='navigation'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-ex1-collapse'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' href='#'><%= titleize() %></a>
      <p class='navbar-text'>Logged-in as {{ account.displayName }}</p>
    </div>
    <div class='collapse navbar-collapse navbar-ex1-collapse'>
      <ul class='nav navbar-nav navbar-right'>
        <li ng-hide='showBettors'><a ng-click='showBettors = true'>Show Bettors</a></li>
        <li ng-show='showBettors'><a ng-click='showBettors = false'>Show Main</a></li>
        <li><a href='/main_mobile'>Switch to Mobile</a></li>
        <li><a href='/payments'>Buy Stuff</a></li>
        <li><a href='/account/'>Account</a></li>
        <li><a href='/logout'>Logout</a></li>
      </ul>
    </div>
  </nav>
  <div class='main-video' ng-hide='showBettors'>
    <%= @video_link %>
  </div>
  <div class='row admin-message' ng-show='match.message && !showBettors'>
    <p>Message from admin: {{ match.message }}</p>
  </div>
  <div class='row' ng-hide='showBettors'>
    <div class='col-sm-4'>
      <div class='bet-a'>
        <div class='row'>
          <div class='col-xs-6 participant-a'>
            <p>{{ match.participants['a'].name }}</p>
            <p>{{ match.participants['a'].amount | currency: "☺" }}</p>
          </div>
          <div class='col-xs-6'>
            <p class='pull-right'><button type='button' class='btn btn-lg btn-bet-a' ng-click='submitBet("a")'>Bet</button></p>
          </div>
        </div>
      </div>
    </div>
    <div class='col-sm-4 bet-info'>
      <form name='betForm'>
        <div class='form-group' ng-class='{"has-error": betForm.amount.$invalid}'>
          <p>
          <input type='number'
                 class='form-control'
                 name='amount'
                 min='1'
                 placeholder='Bet amount'
                 required
                 ng-model='betAmount' />
          </p>
        </div>
        <p>Your Current Balance: {{ account.balance | currency: "☺"  }}</p>
      </form>
      <p ng-show='betUpdateFailed'>Could not update bet</p>
      <p ng-show='bettingThisRound'>You are betting this round!</p>
      <p ng-show='winnerName()'>Winner: {{ winnerName() }}</p>
      <p>Odds: {{ match.participants['a'].odds }}</p>
    </div>
    <div class='col-sm-4'>
      <div class='bet-b'>
        <div class='row'>
          <div class='col-xs-6'>
            <p><button type='button' class='btn btn-lg btn-bet-b' ng-click='submitBet("b")'>Bet</button></p>
          </div>
          <div class='col-xs-6 participant-b'>
            <p>{{ match.participants['b'].name }}</p>
            <p>{{ match.participants['b'].amount | currency: "☺" }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row' ng-show='showBettors'>
    <% if @bettors_strategy == 'all_in' %><p class='bettors-header'>Bettors who went all-in</p>
    <% elsif @bettors_strategy == 'all_bettors' %><p class='bettors-header'>All Bettors</p>
    <% end %>
    <div class='col-sm-6'>
      <p class='bettors-participant-name'>{{ match.participants['a'].name }}</p>
      <ul ng-show='match.bettors.a.length > 0' class='bettors-list'>
        <li ng-repeat='bettor in match.bettors.a'>
          <img ng-src='/img/rank/rank-{{bettor.rank}}.png' width='14' height='14' alt='Rank symbol' />
          <span class='name'>{{bettor.displayName}}</span>
        </li>
      </ul>
    </div>

    <div class='col-sm-6'>
      <p class='bettors-participant-name'>{{ match.participants['b'].name }}</p>
      <ul ng-show='match.bettors.b.length > 0' class='bettors-list'>
        <li ng-repeat='bettor in match.bettors.b'>
          <img ng-src='/img/rank/rank-{{bettor.rank}}.png' width='14' height='14' alt='Rank symbol' />
          <span class='name'>{{bettor.displayName}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
