<%
# Saltstorm - Fun-Money Betting on the Web
# Copyright (C) 2013, 2014 Dustin Leavins
#
# Full license can be found in 'LICENSE.txt'
%>
<div class='page-header'>
  <h1><%= titleize('Request Password Reset') %></h1>
  <p><%= @site_description %></p>
</div>
<p><%= @display_name %>, you can now reset your password. Check your e-mail address (<%= @email %>) for a reset password link.</p>
