<%
# Saltstorm - Fun-Money Betting on the Web
# Copyright (C) 2013, 2014 Dustin Leavins
#
# Full license can be found in 'LICENSE.txt'
%>
<div class='page-header'>
  <h1><%= titleize('Reset Password') %></h1>
  <p><%= @site_description %></p>
</div>
<% if (flash[:error]) %>
<div class='alert alert-danger'>
  <p>There was an error resetting your password.</p>
  <p>Please make sure that your password and 'confirm password' are the same.</p>
</div>
<% end %>

<div class='row'>
  <div class='col-md-6'>
    <form action='/reset_password' method='post' name='resetForm'>
      <div class='form-group' ng-class='{"has-error": resetForm.email.$invalid}'>
        <input type='hidden' name='email' value='<%= @email %>' />
        <input type='hidden' name='code' value='<%= @code  %>' />
      </div>

      <div class='form-group' ng-class='{"has-error": resetForm.password.$invalid}'>
        <p>
          <label for='password'>Password</label>
          <input type='password' name='password' autocapitalize='off' class='form-control'
                 ng-model='password'
                 required />
        </p>
      </div>

      <div class='form-group' ng-class='{"has-error": resetForm.confirm_password.$invalid}'>
        <p>
          <label for='confirm_password'>Confirm Password</label>
          <input type='password' name='confirm_password' autocapitalize='off' class='form-control'
                 ng-model='confirmPassword'
                 required />
        </p>
      </div>
      
      <p>
        <button type="submit" class="btn btn-default">Reset Password</button>
      </p>
    </form>
  </div>
</div>
