html {
  height: 100%;
}
body {
  background-color: #FFFFFF;
  color: #333333;
  font-family: Verdana;
  height: 100%;
}

.container {
  height: 100%;
}

a {
  color: #2A6496;
}

a:hover {
  cursor: pointer;
}

.btn-set .btn {
    margin-right: 80px;
}
.btn-set .btn:last-child {
    margin-right: 0;
}

.btn {
  border-radius: 8px;
}

.btn-default {
  background-image: linear-gradient(to bottom, #F0F0F0 50%, #999999);
  background-image: -webkit-linear-gradient(bottom, #F0F0F0 50%, #999999);
  color: #000000;
  border-color: #999999;
}

.btn-default:hover {
  border-color: #999999;
  color: #888888;
}

.btn-primary {
  background-image: linear-gradient(to bottom, #333333 50%, #666666);
  background-image: -webkit-linear-gradient(bottom, #333333 50%, #666666);
  border-color: #333333;
  color: #F0F0f0;
}

.btn-primary:hover {
  border-color: #333333;
  color: #888888;
}

.form-control {
  border-radius: 8px;
}

.navbar-static-top {
  border-radius: 8px;
}

.navbar-default {
  background-color: #C3AEC2;
}

.navbar-default .navbar-text{
  color: #000000;
}

.navbar-default .navbar-brand {
  color: #000000;
  font-weight: bold;
}

.navbar-default .navbar-nav li a {
  color: #2A6496;
}

.navbar-default .navbar-nav li a:hover {
  text-decoration: underline;
}

.page-header {
  border-bottom-color: #C3AEC2;
}

.alert {
  border-radius: 8px;
}

footer {
  border-top-color: #C3AEC2;
  border-top-width: 1px;
  border-top-style: solid;
  margin-top: 80px;
}

.main-content {
  height: 100%;
}

.admin-message {
  text-align: center;
}

.bet-a {
  color: #000000;
  background-color: #FFD485;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  border-radius: 8px;
  padding-top: 10px;
}

.bet-b {
  color: #000000;
  background-color: #8888FF;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  border-radius: 8px;
  padding-top: 10px;
}

.btn-bet-a {
  background-color: #FFB833;
  border-color: #000000;
  border-width: 2px;
  color: #000000;
}

.btn-bet-b {
  background-color: #5C5CFF;
  border-color: #000000;
  border-width: 2px;
  color: #000000;
}

.participant-a {
}

.participant-b {
  text-align: right;
}

.bettors-participant-name {
  font-weight: bold;
}

.bettors-header {
  font-weight: bold;
  text-align: center;
}

.bettors-list {
  list-style: none;
}

.bettors-list img {
  vertical-align: middle;
}

.bettors-list .name {
  padding-left: 4px;
}

.bet-info {
  text-align: center;
}

.main-video {
  text-align: center;
  height: 60%;
  margin-bottom: 40px;
}

