body {
  background-color: #B88888;
  color: #222222;
  font-family: "Gill Sans", Tahoma;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Palatino Linotype", "Times New Roman";
}

a {
  color: #2A6496;
}

.btn {
  font-weight: bold;
  border-radius: 8px;
}

.btn-default {
  background-image: linear-gradient(to bottom, #F0F0F0 50%, #999999);
  background-image: -webkit-linear-gradient(bottom, #F0F0F0 50%, #999999);
  color: #000000;
  border-color: #999999;
}

.btn-default:hover {
  border-color: #999999;
  color: #888888;
}

.btn-primary {
  background-image: linear-gradient(to bottom, #333333 50%, #666666);
  background-image: -webkit-linear-gradient(bottom, #333333 50%, #666666);
  border-color: #333333;
  color: #F0F0f0;
}

.btn-primary:hover {
  border-color: #333333;
  color: #888888;
}

.form-control {
  background-color: #E0E0E0;
  color: #222222;
  border-radius: 8px;
}

.navbar-default {
  background-color: #B88888;
  font-family: "Gill Sans", Tahoma;
}

.navbar-default .navbar-text{
  color: #222222;
}

.navbar-default .navbar-brand {
  font-family: "Palatino Linotype", "Times New Roman";
  color: #222222;
  font-weight: bold;
}

.navbar-default .navbar-nav li a {
  color: #2A6496;
}

.navbar-default .navbar-nav li a:hover {
  text-decoration: underline;
}

footer {
  border-top-color: #E7E7E7;
  border-top-width: 1px;
  border-top-style: solid;
  margin-top: 80px;
}

.admin-message {
  text-align: center;
}

.bet-a {
  color: #000000;
  background-color: #FFA500;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  border-radius: 8px;
  padding-top: 10px;
}

.bet-b {
  color: #000000;
  background-color: #8888FF;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  border-radius: 8px;
  padding-top: 10px;
}

.btn-bet-a {
  background-color: #FFA500;
  border-color: #000000;
  border-width: 3px;
  color: #000000;
}

.btn-bet-b {
  background-color: #8888FF;
  border-color: #000000;
  border-width: 3px;
  color: #000000;
}

.participant-a {
}

.participant-b {
  text-align: right;
}

.bet-info {
  text-align: center;
}

.main-video {
  text-align: center;
  padding-bottom:80px;
}

