development:
  user_signup_balance: 400
  base_bailout_balance: 10
  main_video_html: "<a href='#'>Video Link</a>"
  site_name: 'Saltstorm'
  site_description: >
      Saltstorm is an open-source 'play money' betting site
      inspired by <a href='http://www.saltybet.com'>Salty Bet</a>.
test:
  user_signup_balance: 400
  base_bailout_balance: 10
  main_video_html: 'main_video_html'
  site_name: 'Saltstorm - TESTING'
  site_description: 'Test Site'

production:
  user_signup_balance: 400
  base_bailout_balance: 10
  main_video_html: "<a href='#'>Video Link</a>"
  site_name: 'Saltstorm'
  site_description: >
      Saltstorm is an open-source 'play money' betting site
      inspired by <a href='http://www.saltybet.com'>Salty Bet</a>.

