<%
# Saltstorm - Fun-Money Betting on the Web
# Copyright (C) 2013, 2014  Dustin Leavins
#
# Full license can be found in 'LICENSE.txt'
%>
<div class='page-header'>
  <h1><%= titleize('Request Password Reset') %></h1>
  <p><%= @site_description %></p>
</div>
<div class='alert alert-danger' ng-show='errorMsg'>
  <p>{{ errorMsg }}</p>
</div>
<div class='row'>
  <div class='col-md-6'>
    <form name='requestForm'>
      <div class='form-group' ng-class='{"has-error": requestForm.email.$invalid}'>
        <p>
          <label for='email'>E-Mail Address</label>
          <input type='text' name='email' class='form-control'  autocapitalize='off'
                 required
                 ng-model='email' />
        </p>
      </div>
      <p>
        <button ng-click='requestReset()' class="btn btn-default" ng-disabled='requestForm.$invalid'>Request Password Reset</button>
      </p>
    </form>
  </div>
</div>
